.sidebar-header{
    margin-bottom: 10px;
}
body, html, #map{
    width:100%;
    height:100%;
    position: absolute;
    
}

#mly { 
    height: 100%; 
    width: 70%;
    position: absolute;
    right: 0;
}